* {
    padding: 0;
    margin: 0;
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: hsl(212, 45%, 89%);
    height: 100%;
    justify-items: center;
    align-items: center;
}
.container {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    position: absolute;
}
.card {
    background-color: hsl(0, 0%, 100%);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 215px;
    height: fit-content;
    padding: 15px;
    margin: 0px;
    border-radius: 15px;
}
.attribution, .card {
    text-align: center;
}
img {
    border-radius: 10px;
    width: 100%;
}

img, h3 {
    margin-bottom: 5%;
}

.attribution {
    position: absolute;
    align-items: end;
    bottom: 0;
}

p {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}